.archive-this.error {
	background-color: rgba(var(--background-modifier-error-rgb), 0.8);
}

.archive-this.success {
	background-color: rgba(var(--background-modifier-success-rgb), 0.8);
}

.archive-this.warning {
	background-color: rgba(var(--color-orange-rgb), 0.8);
}

.archive-this .md-info {
	background-color: transparent;
}

.archive-this .width-100 {
	width: 100%;
}