.archive-this.error {
	background-color: rgba(var(--background-modifier-error-rgb), 0.8);
}

.archive-this.success {
	background-color: rgba(var(--background-modifier-success-rgb), 0.8);
}

.archive-this.warning {
	background-color: rgba(var(--color-orange-rgb), 0.8);
}

.archive-this .md-info {
	background-color: transparent;
}

.archive-this .width-100 {
	width: 100%;
}

.archive-this .width-25 {
	width: 25%;
}

.archive-this .padding {
	margin-left: 1em;
	border-left: 2px solid var(--background-modifier-border);
}

.archive-this input.error {
	border-color: var(--color-red);
}

.archive-this input.error:focus,
.archive-this input.error:active {
	box-shadow: 0 0 0 1px var(--color-red);
}

.archive-this {
	-webkit-user-select: text;
	-moz-user-select: text;
	user-select: text;
}

.archive-this table {
	border-collapse: collapse;
}

.archive-this-modal .modal {
	--dialog-width: 60%;
}
